@tailwind base;
@tailwind components;
@tailwind utilities;

/* .footer-container {
    position:fixed;
    bottom: 0;
    width: 100%;
  } */

  /* @media (max-width: 1025px) {
    .footer-container {
        position: relative;
    }
}

@media (min-width: 770) {
  .footer-container {
      position: fixed;
  }
} */

.gradientText {
  background: linear-gradient(to bottom right, #1e186e, #041490, #0631ef);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color:transparent;
  text-shadow: 2px 3px 3px rgba(32, 36, 119, 0.7);
}

label {
  color: #424874;
  font-weight: 500;

}

input[type=file] {
  display: block;
  color: white;
  width: 100%;
  font-family: Verdana;
}

.height {
  height:50vh;
}
